.sf-metadata-radio-group {
  width: fit-content;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bs-border-color);
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 8px;
}

.sf-metadata-radio-group .sf-metadata-radio-group-option {
  min-width: 66px;
  width: fit-content;
  height: 28px;
  color: var(--bs-body-color);
  background: var(--bs-body-bg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  border: 0;
  border-radius: 2px;
}

.sf-metadata-radio-group .sf-metadata-radio-group-option:hover {
  background-color: var(--bs-nav-hover-bg);
  cursor: pointer;
}

.sf-metadata-radio-group .sf-metadata-radio-group-option.active {
  background-color: var(--bs-nav-active-bg);
}

.sf-metadata-radio-group .sf-metadata-radio-group-option:not(:first-child)::before {
  content: '';
  width: 1px;
  height: 22px;
  background-color: var(--bs-border-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
  left: -1px;
}

.sf-metadata-radio-group .sf-metadata-radio-group-option:hover::before,
.sf-metadata-radio-group .sf-metadata-radio-group-option.active::before,
.sf-metadata-radio-group .sf-metadata-radio-group-option:hover + .sf-metadata-radio-group-option::before,
.sf-metadata-radio-group .sf-metadata-radio-group-option.active + .sf-metadata-radio-group-option::before {
  opacity: 0;
}
