{% extends 'file_view_react.html' %}
{% load render_bundle from webpack_loader %}
{% load seahub_tags i18n static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}sdoc-editor/sdoc-editor-font.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}seafile-editor/seafile-editor-font.css" />
{% render_bundle 'viewFileSdoc' 'css' %}
{% endblock %}


{% block extra_data %}
    docPath: '{{ path|escapejs }}',
    docName: '{{ filename|escapejs }}',
    docUuid: '{{ file_uuid }}',
    docPerm: '{{ file_perm }}',
    assetsUrl: '{{ assets_url }}',
    seadocAccessToken: '{{ seadoc_access_token }}',
    seadocServerUrl: '{{ seadoc_server_url }}',
    lang: '{{ lang }}'
{% endblock %}

{% block render_bundle %}
<script type="text/javascript" src="{% static "scripts/lib/jquery.min.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js?t=1536127546642"></script>
<script src="{{ MEDIA_URL }}js/init-scroll-bar.js" ></script>
{% render_bundle 'viewFileSdocPage' 'js' %}
{% endblock %}
